:root {
    --main-white: #f0f0f0;
    --main-gold: #c06d0e;
    --main-blue: #7694ff;
    --main-gray: #14191f;
    --main-red: #ee3f3f;
    --main-purple: #720d4f;
}

* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

body {
    font-family: sans-serif;
    margin: 0;
}

nav {
    width: 100%;
    margin: 0px;
    background: var(--main-gray);
    border-bottom: 5px solid var(--main-white);
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
}

.nav-links {
    font-size: 24px;
}

.nav-links:hover {
    color: var(--main-white);
    background-color: var(--main-blue);
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
  }
  
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
    margin: auto;
    padding: auto;
    background: rgb(145, 145, 145);
    border-bottom: 10px solid black;
    border-radius: 10px 10px 0 0 ;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-color: #000000;
    background-image: linear-gradient(55deg, var(--main-blue) 0%, #000 33%, var(--main-purple) 50%, #000 66%, var(--main-red) 100%);
    border-bottom: 5px solid var(--main-white);
}
  
.welcome-section h1 {
    font-size: 48px;
    color: var(--main-white);
}
  
.welcome-section h2 {
    font-size: 30px;
    color: var(--main-white);
    padding-bottom: 1rem;
}
  
.p1 {
    font-size: 20px;
    color: var(--main-white);
    text-align: center;
    padding-bottom: 50px;
}

.p2 {
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    color: var(--main-white);
    text-align: center;
    padding: 0;
}
  
.projects-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 25px;
    background: var(--main-gray);
    border-bottom: 5px solid var(--main-white);
}
  
.head-text {
    position: relative;
    text-align: center;
    color: var(--main-white);
    font-size: 30px;
    width: 100%;
    text-decoration: underline;
    padding-bottom: 30px;;
}
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
    width: 90%;
  }
  
  .project {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--main-purple);
    border-radius: 30px;
    padding: 15px;
  }
  
  .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    color: #333333;
    z-index: 3;
  }
  
  .project-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    color: var(--main-white);
    padding: 20px;
  }
  
  .project-title:hover {
    color: var(--main-white);
    background-color: var(--main-blue);
    border-radius: 25px;
  }
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30vh;
    background: var(--main-blue);
    border-bottom: 5px solid var(--main-white);
  }
  
  .contact-section-header {
    font-size: 2.5rem;
    color: white;
  }

.beg {
    font-size: .8rem;
    font-style: italic;
    text-decoration: underline; 
    color: white;
    padding-bottom: 25px;
  }
  
  .contact-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 70px;
    background-color: #000;
    border-radius: 35px;
    margin: 0;
  }
  
  .contact-site {
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 12px;
    transition: transform 0.3s ease-out;
    margin-left: 15px;
    margin-right: 15px;
    padding 0px;
  }
  
.fab {
    color: var(--main-gold);
    font-size: 3rem;
    padding: 5px;
}

.fas {
    color: var(--main-gold);
    font-size: 3rem;
    padding: 5px;
}

  .contact-site:hover {
    transform: translateY(5px) translateX(-5px);
  }
  
  footer {
    display: flex;
    justify-content: center;
    height: 5vh;
    background: var(--main-purple);
    border-bottom: 5px solid var(--main-white);
  }
  
  .footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--main-white);
  }